:root {
  background: lightgray;

}

main {
  text-align: center;
  vertical-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: gray;
  display: flex;
  text-align: left;
  padding-left: 15px;
  padding-right: 10px;
}

h1 {
  font-family: "Agbalumo";
  color: white;
  flex-grow: 5;
  padding-left: 10px;
}

h3 {
  font-size: 1.3em;
  font-weight: 700px;
}

nav {
  padding-top: 10px;
  padding-right: 20px;
}

nav button {
  font-size: 1em;
}